.logo{
    width: 100px;
    height: 20px;
    margin-left: 30px;
}

.logocat{
    width: 100%
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.navLink{
    display: flex;
    height: 35px;
    padding: 10px;
    cursor: pointer;
    &:hover{
        background-color: #f4f2f7;
    }
}

.contentHome{
    font-weight: 600;
    margin-top: 9px;
    margin-left: 20px;
}

