.right{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.profile{
    display:flex;
}

.img{
    width:56px;
    height: 56px;
}

.profileImg{
    width:56px;
    height: 56px;
    border-radius: 100%;
}

.userName{
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 14px;
    font-weight: 500;
}

.username2{
    color:rgb(25, 143, 59);
    font-size: 12px;
}

.switch{
    padding-left: 20px;
    color: rgb(62, 62, 155);
    font-weight: 500;
}